<template>
    <lightning-card title="Ex 20 -Events communication (Child to Parent)">
        <lightning-layout>
            <lightning-layout-item size="8" padding="around-small">
                <ul>
                    <template for:each={meetingRoomsInfo} for:item="room">
                        <li key={room.roomName} style="padding: 10px">
                            <c-examplea20-event-child meeting-room-info={room} show-room-info ontileclick={onTileSelectHandler}></c-examplea20-event-child>
                        </li>
                    </template>
                </ul>
            </lightning-layout-item>
            <lightning-layout-item size="4" padding="around-small">
                You have selected : {selectedMeetingRoom}
            </lightning-layout-item>
        </lightning-layout>
    </lightning-card></template>