<template>
    <lightning-card title="Ex 29 - @Wire Adapter /Apex class">
        <ul>
            <template if:true={responseReceived}>
                <template for:each={accounts.data} for:item="account">
                    <li key={account.Id}>
                        <div class="slds-p-around_medium lgc-bg">
                            <lightning-tile label={account.Name} type="media">
                                <lightning-icon slot="media" icon-name="standard:account"></lightning-icon>
                                <p class="slds-truncate" title={account.Phone}>{account.Phone}</p>
                            </lightning-tile>
                        </div>
                    </li>
                </template>
            </template>
        </ul>
    </lightning-card>
</template>