<template>
    <lightning-card title="Ex 24 - LDS create record">
        <lightning-layout>
            <lightning-layout-item size="6" padding="around-small">
                <lightning-card title="Create a New Account">
                    <lightning-input name="Account Name" label="Name" onchange={accountNameChangeHandler} ></lightning-input>
                    <lightning-input name="Account Phone" type="phone" label="Phone" onchange={accountPhoneChangeHandler} ></lightning-input>
                    <lightning-input name="Account Website" type="url" label="Website" onchange={accountWebsiteChangeHandler} ></lightning-input>

                    <lightning-button label="Create Account" onclick={createAccount} variant="brand" ></lightning-button>
                </lightning-card>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">

            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>

</template>