<template>
    <lightning-card title="Ex 18 - Slot Example">

    <ul>
        <template for:each={parentRecord} for:item="room">
            <li key={room.roomName} style="padding: 10px">
                <c-examplea18-slot-child show-room-info >
                    <!--Informations passed to Slot=roomInfo-->
                    <lightning-tile label={room.roomName} slot="roomInfo">
                        <p class="slds-truncate" title={room.roomCapacity}>Room Capacity: {room.roomCapacity}</p>
                    </lightning-tile>

                    <!--Informations passed to unnamed slot-->
                    <div>Additional markup will go in unnamed slot</div>
                </c-examplea18-slot-child>
            </li>
        </template>
    </ul>
</lightning-card>
</template>