<template>
    <lightning-card title="Ex 28 - Record form">
        <div class="slds-p-around_medium">
            <lightning-record-form object-api-name="Account" record-id={recordId} columns="2" fields={fieldsArray} mode="edit"
             onsuccess={handleSuccess}></lightning-record-form>
        </div>
    </lightning-card>
</template>