<template>
    <lightning-card title="Ex 34 - Metafile definition">
        <div class="slds-p-around_medium">
            <lightning-record-form object-api-name={objectApiName} record-id={recordId} columns="2" mode="edit"
                layout-type="Full" onsuccess={handleSuccess}></lightning-record-form>
        </div>
    </lightning-card>
</template>